@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
}

body {
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}

body,
ul,
ol,
dl {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

img {
  border: none;
  max-width: 100%;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp 200ms;
}

.nav {
  position: fixed;
  background: linear-gradient(to right, rgb(7, 7, 222), rgb(0, 232, 253));
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  z-index: 10;
}

.navbar {
  width: 100%;
  max-width: 1530px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.brand {
  width: 215px;
  padding: 2rem;
}

.nav-items {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-list {
  margin: 0px;
  display: flex;
}

.nav-list a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 2rem 0 2rem;
}

.nav-list a:hover {
  color: white;
  opacity: 0.8;
}

.dropdown a {
  display: flex;
  align-items: center;
}

.dropdown svg {
  width: 23px;
  margin-left: 10px;
}

.contactno {
  border-left: 1px solid white;
}

.contactno a {
  display: flex;
  align-items: center;
}

.contactno svg {
  width: 23px;
  margin-right: 10px;
}

.contactno span {
  font-weight: 300;
}

.chat {
  background-color: #4632da;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  left: 60px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 7px 30px -10px rgb(70, 50, 218, 0.8);
}

.chat:hover {
  background-color: #00dafc;
  box-shadow: 0 7px 30px -10px rgb(0, 218, 252, 0.8);
  transition: background-color 200ms ease-in, box-shadow 200ms ease-in;
}

.chat:hover svg {
  color: #00dafc;
  transition: color 200ms ease-in;
}

.chat svg {
  width: 40px;
  color: #4632da;
}

.home {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgb(7, 7, 222), rgb(0, 232, 253));
  background-size: cover;
  background-repeat: no-repeat;
}

.container-home {
  width: 100%;
  height: 100vh;
  max-width: 1530px;
  margin: auto;
  padding: 0 2rem;
  position: relative;
}

.hero {
  position: absolute;
  right: 52px;
  bottom: -40px;
}

.hero img {
  width: 35vw;
  border-top-left-radius: 55%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  pointer-events: none;
}

.intro {
  width: 100%;
  height: 100%;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
}

.title {
  margin-top: 70px;
  font-size: 1.6rem;
  font-weight: 300;
}

.intro h2 {
  font-size: 3.4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.desc {
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
}

.button {
  display: flex;
  /* margin-top: 1.5rem; */
  width: max-content;
  border: none;
  border-radius: 50px;
  padding: 0.9rem 2.3rem;
  background-color: #00dafc;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.button svg {
  margin-left: 0.5rem;
  height: 20px;
  font-weight: 500;
}

.intro-home {
  margin-top: 100px;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../images/bg-intro.png');
  background-size: cover;
  background-position-x: 50%;
  background-repeat: no-repeat;
}

.container-intro {
  height: 100vh;
  max-width: 1530px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.container-intro img {
  width: 680px;
  height: 72vh;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 55%;
}

.details {
  margin-left: 7rem;
  width: 100%;
  height: 100%;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-title {
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.details h2 {
  font-size: 3.3rem;
  line-height: 4rem;
  font-weight: 400;
  color: #b1a8ef;
}

.details-desc {
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
}

.services {
  min-height: 100vh;
  background-image: url('../images/shapes-icons.png');
  background-size: cover;
  background-position-x: 105%;
  background-repeat: no-repeat;
}

.container-common {
  max-width: 1530px;
  margin: auto;
  padding: 0 2rem;
}

.services-intro {
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-intro p {
  font-size: 1.6rem;
  font-weight: 200;
  color: #4632da;
  margin-bottom: 1rem;
}

.services-intro h2 {
  font-size: 3.3rem;
  font-weight: 400;
  color: #a8abb5;
}

.btn-violet {
  background-color: #4632da;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 3rem 0;
}

.service-card {
  padding: 4rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 20%;
  background-color: white;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.4);
}

.service-card img {
  width: 90px;
}

.card-title {
  padding: 2rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #3d4459;
}

.card-desc {
  font-size: 1.3rem;
  font-weight: 200;
  padding-bottom: 0.5rem;
}

.service-card a {
  font-size: 1.2rem;
  font-weight: 300;
  color: #4632da;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.service-card svg {
  width: 20px;
  margin-left: 0.5rem;
}

.team {
  min-height: 100vh;
  background-image: url('../images/bg-team.png');
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.team-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.team-card {
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.4);
}

.team-card img {
  width: 800px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.team-card h5 {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #00dafc;
}

.team-card p {
  font-size: 1.3rem;
  font-weight: 200;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.8rem;
}

.team-info {
  margin: auto;
  padding: 2.2rem 3rem;
}

.team-info p {
  font-size: 1.6rem;
  font-weight: 200;
}

.team-info h2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #5240dc;
  margin-bottom: 4rem;
}

.testimonial {
  min-height: 100vh;
  background-image: url('../images/bg-testimonial.png');
  background-size: 135%;
  background-position-y: 95%;
  background-position-x: 100%;
  background-repeat: no-repeat;
}

.testimonial-info {
  max-width: 460px;
}

.testimonial-info p {
  font-size: 1.6rem;
  font-weight: 200;
  color: #5240dc;
}

.testimonial-info h2 {
  font-size: 3.4rem;
  font-weight: 400;
  color: #575d6f;
}

.testimonial-profile {
  margin: auto;
}

.testimonial-profile img {
  width: 250px;
  height: 245px;
  border-radius: 20px;
}

.testimonial-details {
  max-width: 600px;
}

.testimonial-desc {
  font-size: 1.6rem;
  font-weight: 200;
}

.testimonial-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #5240dc;
  margin-top: 2rem;
  margin-bottom: 0;
}

.testimonial-org {
  font-size: 1.1rem;
  font-weight: 300;
}

.clients {
  text-align: center;
}

.clients h2 {
  font-size: 3.4rem;
  font-weight: 400;
  color: #5240dc;
  margin-bottom: 2rem;
}

.clients-title {
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 0;
}

.clients-desc {
  font-size: 1.3rem;
  font-weight: 200;
  max-width: 580px;
  margin: auto;
}

.client-logo {
  display: flex;
  justify-content: space-evenly;
  padding: 6rem 0;
}

.cta {
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(7, 7, 222), rgb(0, 232, 253));
  background-repeat: no-repeat;
}

.container-cta {
  width: 100%;
  height: 100vh;
  max-width: 1530px;
  margin: auto;
  padding: 0 2rem;
  position: relative;
}

.cta-home {
  position: absolute;
  position: absolute;
  right: 0px;
  bottom: 52px;
}

.cta-home img {
  width: 35vw;
  border-top-left-radius: 55%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  pointer-events: none;
}

.btn-white {
  background-color: white;
  color: #00dafc;
}

.intro-cta {
  max-width: 35vw;
}

.intro-cta h2 {
  margin-top: 22rem;
}

.intro-cta p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

.contact {
  margin: 3rem 0 2rem 0;
}

.contact-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  border-bottom: 1px solid lightgray;
}

.contact-mail img {
  width: 250px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form input {
  border: 1px solid lightgray;
  border-radius: 50px;
  padding: 0.9rem 1.2rem;
  font-size: 1.3rem;
  font-weight: 200;
  width: 700px;
}

.contact-form button {
  margin-left: 1.5rem;
}

.contact-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 1rem 0 1rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0;
}

.social img {
  width: 25px;
  margin-left: 30px;
}

.copyright p {
  font-size: 1.1rem;
  font-weight: 200;
}

.modal-content {
  padding: 3rem 4rem;
  border-radius: 20px !important;
  width: 700px !important;
}

.modal-content p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #00dafc;
  margin-bottom: 0;
}

.modal-content h2 {
  font-size: 2.5rem;
  color: #3d4459;
}

.modal-content input {
  width: 520px;
  font-size: 1.2rem;
  font-weight: 300;
  height: 50px;
  padding: 1rem;
  margin: 0.5rem 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.modal-content button {
  margin-left: auto;
  margin-right: 3rem;
  margin-top: 0.5rem;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
